/* ---------- GRAPH CLOSE BUTTON START ---------- */
.close-button-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1px;
  top: -5px;
}

.graph-close-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.close-button-text-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.close-button-text-wrapper span {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 27px;
  left: 19px;
  transform: rotate(45deg);
  font-size: 20px;
}

.close-button-text-wrapper:hover span {
  color: var(--bg-red);
}
/* ---------- GRAPH CLOSE BUTTON END ---------- */

/* ---------- GRAPH FILTER SECTION START ---------- */
.filter-container {
  width: 100%;
  padding: 12px 4% 0 4%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.filter-container > div {
  width: 32%;
  height: 44px;
}
/* PRODUCT DROPDOWN START */
.filter-container > .dash-dropdown .Select-input > input {
  padding: 13.95px 0;
  font-family: sans-serif;
  font-size: 12px;
}

.filter-container > .dash-dropdown .Select-control{
  height: 43.99px;
}

.filter-container > .dash-dropdown .Select-placeholder{
  line-height: 41.99px;
  font-size: 12px;
}

.filter-container > .dash-dropdown .Select-value-label {
  line-height: 41.99px;
  font-family: sans-serif;
  font-size: 14px;
}

.filter-container > .dash-dropdown .Select-menu-outer {
  font-family: sans-serif;
  font-size: 12px;
}
/* PRODUCT DROPDOWN END */

/* FILTER SECTION START */
.filter {
  position: relative;
  z-index: 2;
  border-radius: 4px;
}

.filter-button {
  background-color: white;
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  width: 100%;
  height: 43.99px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 43.99px;
}

.filter-expand {
  display: block;
  visibility: visible;
  position: absolute;
  width: 180%;
  left: -40%;
  background-color: white;
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}

.filter-dropdowns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-dropdowns-wrapper > div {
  width: 48%;
}

.filter-dropdowns-wrapper > div .Select-placeholder {
  font-size: 12px;
}

.filter-dropdowns-wrapper > div .Select-menu-outer {
  font-family: sans-serif;
  font-size: 12px;
}

.filter-dropdowns-wrapper > div .Select-value-label {
  font-family: sans-serif;
  font-size: 12px;
  padding: 3px 5px 2px 5px;
}

.filter-apply-button {
  background-color: transparent;
  border: 2px solid var(--bg-grey);
  border-radius: 4px;
}

.filter-apply-button:hover {
  border-color: var(--bg-blue);
}

.filter-apply-button:focus {
  box-shadow: 0px 0px 0px 4px var(--bg-blue-alpha);
}

.filter-apply-button span {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
/* FILTER SECTION END */

/* GROUPBY SECTION START */
.groupby-filter-wrapper {
  border: 1px solid var(--bg-grey);
  border-radius: 4px;
  position: relative;
}

.groupby-filter-wrapper > span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.groupby-filter {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.groupby-filter > div {
  display: flex;
  position: relative;
  margin-left: 2.2vw;
}

.groupby-filter > div:nth-child(1) {
  padding: 2px 30px 2px 0;
}

.groupby-filter > div:nth-child(2) {
  padding: 2px 68px 2px 0;
}

.groupby-filter > div:nth-child(3) {
  padding: 2px 38px 2px 0;
}

.groupby-filter > div > label {
  font-family: sans-serif;
  font-size: 12px;
  position: absolute;
  left: -4px;
  top: 5px;
}

/* GROUPBY SECTION END */

/* ---------- GRAPH FILTER SECTION END ---------- */

.graph-container-outer {
  width: 100%;
  position: relative;
  margin-top: 5px;
  z-index: 1;
}

.graph-container > .dash-graph {
  height: 400px;
}
