#content-container-inner {
  margin-top: 10px;
  display: inline-block;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.03);
  height: auto;
  max-height: 100%;
}

#erank-crawler-control {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: whitesmoke;
}

#search-bar-container {
  display: flex;
  position: relative;
  width: 45%;
  max-width: 280px;
  min-width: 200px;
}

#search-bar-container #erank-search-button {
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  padding: 4px 8px 3px 3px;
}
#search-bar-container #erank-search-icon {
  color: var(--bg-grey);
}

#search-bar-container #erank-search-icon:hover {
  color: var(--bg-blue);
}

#crawler-status-container {
  display: flex;
}

#crawler-status-container #crawler-status {
  display: flex;
}

#crawler-status-container #crawler-status #crawler-status-icon {
  line-height: 31px;
}

#crawler-status-container #crawler-status #crawler-status-msg {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 31px;
  margin-left: 10px;
}

#crawler-status-container #erank-crawler-start-button {
  background: white;
  width: 80px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

#erank-filter-container {
  display: flex;
}

#erank-filters {
  display: flex;
  flex-wrap: wrap;
}

#erank-filters > div {
  width: 22%;
  margin: 10px 1.5%;
}

#erank-filters > div > span {
  text-transform: uppercase;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--bs-body-color);
  font-weight: 500;
}

#erank-filters > div > div > input:last-child {
  margin-left: 5%;
}

#erank-filters .mix-max-filter {
  display: flex;
}

#erank-data-wrapper ul.nav.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

#erank-data-wrapper ul.nav.nav-tabs > div.nav-item > button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.erank-keyword-data-card {
  width: 97%;
  margin: 0 1.5% 2px 1.5%;
  display: flex;
  background-color: white;
  border: 1px solid var(--bg-grey);
}

.erank-keyword-data-card:hover {
  border-color: var(--bg-blue);
}

.erank-keyword-data-card > div {
  display: flex;
  align-items: center;
}

.erank-keyword-data-card > div:nth-last-child(-n+10) {
  justify-content: center;
}

.erank-keyword-data-card > div:first-child {
  width: calc(25% - 30px);
}

.erank-keyword-data-card > div:nth-child(2),
.erank-keyword-data-card > div:nth-child(3),
.erank-keyword-data-card > div:nth-child(6),
.erank-keyword-data-card > div:nth-child(9),
.erank-keyword-data-card > div:nth-child(10)  {
  width: 7%;
}

.erank-keyword-data-card > div:nth-child(4),
.erank-keyword-data-card > div:nth-child(5),
.erank-keyword-data-card > div:nth-child(7),
.erank-keyword-data-card > div:nth-child(8) {
  width: 10%;
}

.erank-keyword-data-card > button {
  position: absolute;
  right: 6px;
  top: calc(50% - 12px);
}