/* ---------- GRAPH CLOSE BUTTON START ---------- */
.close-button-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.graph-close-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.close-button-text-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.close-button-text-wrapper span {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 21px;
  left: 14px;
  transform: rotate(45deg);
  font-size: 20px;
}

.close-button-text-wrapper:hover span {
  color: var(--bg-red);
}
/* ---------- GRAPH CLOSE BUTTON END ---------- */

/* ---------- GRAPH FILTER SECTION START ---------- */
.filter-container {
  width: 92%;
  padding: 12px 4% 0 4%;
  display: flex;
  justify-content: space-between;
}

.filter-container > div {
  width: 32%;
}
/* PRODUCT DROPDOWN START */
.filter-container > .dash-dropdown .Select-input {
  height: 41.88px;
}

.filter-container > .dash-dropdown .Select-input > input {
  padding: 13.95px 0;
  font-family: sans-serif;
  font-size: 12px;
}

.filter-container > .dash-dropdown .Select-control{
  height: 43.88px;
}

.filter-container > .dash-dropdown .Select-placeholder{
  line-height: 41.88px;
}
/* PRODUCT DROPDOWN END */

/* FILTER SECTION START */
.filter-button {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
/* FILTER SECTION END */

/* GROUPBY SECTION START */
.groupby-filter-wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.groupby-filter-wrapper > span {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.groupby-filter {
  display: flex;
  justify-content: space-evenly;
}

.groupby-filter > div:nth-child(1) {
  display: flex;
  position: relative;
  padding: 2px 30px 2px 0;
}

.groupby-filter > div:nth-child(2) {
  display: flex;
  position: relative;
  padding: 2px 68px 2px 0;
}

.groupby-filter > div:nth-child(3) {
  display: flex;
  position: relative;
  padding: 2px 38px 2px 0;
}

.groupby-filter > div:nth-child(4) {
  display: flex;
  position: relative;
  padding: 2px 40px 2px 0;
}

.groupby-filter > div > label {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  left: 20px;
  top: 4.3px;
}

/* GROUPBY SECTION END */

/* ---------- GRAPH FILTER SECTION END ---------- */

.graph-container-outer {
  width: 100%;
  position: relative;
  margin-top: 5px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.03);
}

.graph-container > .dash-graph {
  height: 400px;
}
